@import "../mixins.less";

@radio: .useComponent(radio)[@return];
.radio-mixin() {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
  height: 32px;

  &:hover {
    .@{radio}__inner {
      border-color: .useRootCssVar(color-primary)[@return];
    }
  }

  &.checked {
    &:hover {
      .@{radio}__inner {
        border-color: transparent;
      }
    }

    .@{radio}__inner {
      background-color: .useRootCssVar(color-primary)[@return];
      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-flex;
        transform: translate(-60%, -50%) scale(1);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: '';
        background-color: #fff;
      }
    }
  }

  .@{radio}__input {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    // width: 14px;
    // height: 14px;
    .@{radio}__originInput {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      outline: none;
    }
    .@{radio}__inner {
      cursor: pointer;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid .useRootCssVar(color-border-base)[@return];
      transition: all 0.3s;
    }
  }

  .@{radio}__label {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 24px;
  }
}

.set-component(radio, .radio-mixin());