@import "../mixins.less";

@table: .useComponent(table)[@return];

.table-mixin() {
  overflow: auto;
  .scrollbar();
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  tr th,
  td {
    text-align: center;
    padding: 8px 12px;
    border: none;
  }

  tr {
    border: none;
    border-bottom: 1px solid .useRootCssVar(color-border-base)[@return];
  }

  tbody {
    tr {
      transition: all .2s;
      &:hover {
        background-color: .useRootCssVar(color-primary-light-9)[@return];
      }
    }
  }

  .@{table}--stripe {
    background-color: .useRootCssVar(color-info-light-9)[@return];
  }
}

.set-component(table, .table-mixin());