.demo-row {
  display: flex;
  align-items: flex-start;
}

.demo-row + .demo-row {
  margin-top: 20px;
}

.vp-doc table {
  display: table;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}
