@import "../mixins.less";

@progress: .useComponent(progress)[@return];
.progress-mixin() {
  display: flex;
  align-items: center;
  // var part
  .set-component-var-root(@progress, bg-color, color-primary);
  // size part
  max-width: 400px;
  width: 350px;
  height: 10px;
  line-height: 1;

  & + .@{progress} {
    margin-top: 20px;
  }

  .@{progress}-bar {
    height: 100%;
    flex-grow: 1;
    margin-right: 10px;
    border-radius: inherit;

    .@{progress}-bar__outer {
      background-color: #ebeef5;
      height: 100%;
      border-radius: inherit;

      .@{progress}-bar__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 0%;
        height: 100%;
        border-radius: inherit;
        background-color: .useComponentCssVar(@progress, bg-color);

        .@{progress}-bar__innerText {
          font-size: calc(var(--y-font-size) + 2px);
          margin-right: 5px;
          color: #fff;
        }
      }
    }
  }

  .@{progress}__text {
    min-width: 20px;
    line-height: 1;
    font-size: var(--y-font-size);
  }

  &.@{progress}--line {
    border-radius: 100px;
  }
  
  &.@{progress}--circle {
    border-radius: 50%;
  }
}

.set-component(progress, .progress-mixin());