@import "../mixins.less";

@button: .useComponent(button)[@return];
@icon: .useComponent(icon)[@return];
.button-mixin() {
  // box-sizing: content-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // color
  .set-component-var(button, hover-bg-color, #fff);
  .set-component-var(button, bg-color, #fff);
  .set-component-var-root(button, text-color, color-primary-text);
  
  color: .useComponentCssVar(button, text-color)[@return];
  background-color: .useComponentCssVar(button, bg-color)[@return];
  // font
  font-size: 14px;
  font-weight: 500;
  // size
  border: 1px solid .useRootCssVar(color-border-base);
  border-radius: 4px;

  line-height: 1;
  height: 32px;
  padding: 8px 16px;
  transition: all 0.3s;

  // 相邻button间隔
  + .@{button} {
    margin-left: 12px;
  }

  &:hover {
    background-color: .useComponentCssVar(button, hover-bg-color)[@return];
    // background-color: var(--y-button-hover-bg-color);
  }

  &.round {
    border-radius: 40px;
    // border-radius: var(--y-border-radius-round);
  }

  &.circle {
    border-radius: 50%;
    // border-radius: var(--y-border-radius-circle);
    padding: 8px;
    .y-button-icon {
      margin: 0;
    }
  }

  &.disabled {
    cursor: not-allowed;
    &:hover {
      background-image: none;
    }
  }

  &.@{button}--large {
    height: 40px;
    padding: 12px 20px;
  }
  
  &.@{button}--small {
    height: 24px;
    padding: 4px 12px;
  }

  .@{button}-icon:has(+ .@{button}-text) {
    margin-right: 4px;
  }

  .@{icon} {
    .hv-center-inline-flex();
  }

  .@{button}-icon {
    .hv-center-inline-flex();
  }
}

@buttonMixin: .button-mixin();

.set-component(button, @buttonMixin);